:root {
    --primary-color: #0B2E4F;    /* DeepNavy */
    --secondary-color: #2E5339;  /* PineGreen */
    --accent1-color: #2A7DB8;    /* RiverBlue */
    --accent2-color: #C9A36A;    /* RiverBank */
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    height: 100px;
    width: auto;
}

.hero article{
    position: relative;

}
 
.hero img {
    display: block;
    width: 100%;
    height: auto;
} 

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}