:root {
    --primary-color:#2E5339 ;    
    --secondary-color: #D6B48D; 
    --accent1-color: #0B2E4F;   
    --accent2-color: #2A7DB8;    
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #eae3db;
}

.logo {
    width: 150px;
    height: auto;
    margin: 0;            
}

header nav {
    grid-column: 2;
    justify-self: end;   
}

.navigation {
    display: flex;          
    align-items: center;
    gap: 1.25rem;          
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    flex: 0 0 auto;
}

.navigation a {
    color: var(--accent2-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

p {
    color: black;
}
.socialmedia {
    display: flex;
    justify-content: end;
    gap: 15px;
}
.socialmedia a {
    text-decoration: none;
    align-content: end;
}

.socialmedia img {
    height: 50px;
    width: auto;
    
}

.hero {
    position: relative;

}
 
.hero img {
    display: block;
    width: 100%;
    height: auto;
} 

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background-color: var(--secondary-color);
    opacity: .8;
    color: #fff;
    font-size: small;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
    padding: 8px;
    margin-top: 10px;
    opacity: 1;
}

section h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
}

section, footer, article {
    background-color: transparent;
    color: var(--accent2-color);
}

.history {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history img {
    width: 250px;
    height: auto;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.adventure img {
    width: 200px;
    height: auto;
    margin: 25px;
}

figure {
  text-align: center;
}
