:root {
    --primary-color:#2E5339 ;    
    --secondary-color: #D6B48D; 
    --accent1-color: #0B2E4F;   
    --accent2-color: #2A7DB8;    
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

p {
    color: black;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    height: 100px;
    width: auto;
}

.hero {
    position: relative;

}
 
.hero img {
    display: block;
    width: 100%;
    height: auto;
} 

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
    padding: 8px;
    margin-top: 10px;
}

.hero article {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background-color: rgba(214, 180, 141, 0.8);
    color: #fff;
    font-size: small;
}


section h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
}


section, footer, article {
    background-color: transparent;
    color: var(--primary-color);
}
