table {
    text-align: center;
    border: 2px solid rgb(98, 97, 97);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

thead, tfoot {
    background-color: black;
    color: white;
}


table, th, td {
  border: 1px solid rgb(160 160 160);
  border-collapse: collapse;
  padding: 5px 15px;
}

td.grey {
    background-color: rgb(232, 232, 232);
}