main {
    max-width: 840px;
}


nav {
    background-color: darkcyan;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkcyan;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    max-width: 840px;
    margin: 10px;
    border: 1px solid black;
    background-color: darkcyan;
    color: white;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 3px dashed black;
    text-align: center;
}