:root {
    --background-color: darkcyan;
    --border: 1px solid black;
    --white-text: white;
    --img-shadow: 0 0 30px gray;
}

main {
    max-width: 840px;
}


nav {
    background-color:var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--white-text);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--background-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--img-shadow);
}

p {
    padding: 0;
}

aside {
    max-width: 840px;
    margin: 10px;
    padding: 10px;
    border: var(--border);
    background-color: var(--background-color);;
    color: var(--white-text);
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: var(--img-shadow)
}

footer {
    margin-top: 15px;
    border-top: 3px dashed black;
    text-align: center;
}

