.callout {
 max-width: 20%;
 margin: 1px;
 border: 5px;
 padding: 20px;
 background-color: #247;
 color: white;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding: 3px;
    background-color: lightgray;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top-style: dotted;
    border-top-width: 1px;
    font-size: small;
    text-align: right;
    padding-top: 1px;
}